aside.panel
  nav.nav
    ul.nav__links
      li.nav__link
        a(href='/admin') Settings
      li.nav__link
        span.nav__link__title Pages
        ul.nav__sub-links
          li.nav__link: a(href='/admin/pages/about') About
          li.nav__link: a(href='/admin/pages/experience') Experience
      li.nav__link
        span.nav__link__title Categories
        ul.nav__sub-links
          li.nav__link: a(href='/admin/categories/projects') Projects
          li.nav__link: a(href='/admin/categories/writings') Writings
