doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet', href='/styles/main.css')
  body
    .body-wrapper
      include panel
      main.main(data-router-wrapper)
        article(data-router-view=view)
          block main
      block scripts
        script(type='module', src='/scripts/bundle.min.js')
