.panel
  .panel__main
    div.logo: a(href="/").logo__link irestone
    a(href='/about').photo
      img(src="/images/face.jpg", alt="Me")
    .intro.
      Hi, there!#[br]My name's Khan.#[br]And this is my little#[br]playground.
    nav.nav
      .nav__section
        .nav__title: span Main Pages
        ul.nav__links
          li: a(href='/') home
          li: a(href='/about') about
  .panel__drawers
    .panel__drawer(data-category='projects')
