.panel
  a.logo(href="/"): span irestone
  a(href='/about').photo
    img(src="/images/face.jpg", alt="Me")
  .intro.
    Hi, there!#[br]My name's Khan.#[br]And this is my little#[br]playground.
  nav.nav
    .nav__section
      .nav__title: span Main Pages
      ul.nav__links
        li: a(href='/') home
        li: a(href='/about') about
    //- .nav__section
    //-   .nav__title Nav Section 2
    //-   ul.nav__links
    //-     li: a(href='#') link 1
    //-     li: a(href='#') link 2
    //- .nav__section
    //-   ul.nav__social-links
    //-     li: a(href='#in') LinkedIn
    //-     li: a(href='#fb') Facebook
