.panel
  .panel__main
    div.logo: a(href="/").logo__link irestone
    a(href='/about').photo
      img(src="/images/face.jpg", alt="Me")
    .intro.
      Hi, there!#[br]My name's Khan.#[br]And this is my little#[br]playground.
    nav.nav
      .nav__section
        .nav__title: span Main Pages
        ul.nav__links
          li: a(href='/') home
          li: a(href='/about') about
      //- .nav__section
      //-   ul.nav__social-links
      //-     li: a(href='#in') LinkedIn
      //-     li: a(href='#fb') Facebook
  .panel__drawers
    .panel__drawer(data-mode='closed')
      .panel__drawer__header
        | Projects
      .panel__drawer__body
        .panel__drawer__items(data-items-mode='preview')
          .panel__drawer__item
            | .panel__drawer__item
    //- .panel__drawer(data-mode='ajar')
    //-   .panel__drawer__header
    //-     | Writings
    //-   .panel__drawer__body
    //-     .panel__drawer__items(data-items-mode='preview')
    //-       .panel__drawer__item
    //-         | .panel__drawer__item
    //- .panel__drawer(data-mode='opened')
    //-   .panel__drawer__header
    //-     | Lorem
    //-   .panel__drawer__body
    //-     .panel__drawer__items(data-items-mode='full')
    //-       .panel__drawer__item
    //-         | .panel__drawer__item
