.panel
  .panel__main
    div.logo: a(href="/").logo__link irestone
    a(href='/about').photo
      img(src="/images/face.jpg", alt="Me")
    .intro.
      Hi, there!#[br]My name's Khan.#[br]And this is my little#[br]playground.
    nav.nav
      .nav__section
        .nav__title: span Main Pages
        ul.nav__links
          li: a(href='/') home
          li: a(href='/about') about
      //- .nav__section
      //-   ul.nav__social-links
      //-     li: a(href='#in') LinkedIn
      //-     li: a(href='#fb') Facebook
  .panel__drawers
    - for (let i = 0; i < 2; i++)
      .panel__drawer(data-category='projects')
        .panel__drawer__content-holder: .panel__drawer__content
          .panel__drawer__header
            .panel__drawer__title Projects
            .panel__drawer__tabs
              //- tabs should be generated from category
              .panel__drawer__tab(data-subcategory='pets') Pets
              .panel__drawer__tab(data-subcategory='demos') Demos
              .panel__drawer__tab(data-subcategory='design') Design
            .panel__drawer__tags
              //- tags should be generated from subcategory (tab)
              .panel__drawer__tag(data-tag='nodejs') nodejs
              .panel__drawer__tag(data-tag='react') react
              .panel__drawer__tag(data-tag='spa') spa
              .panel__drawer__tag(data-tag='nextjs') nextjs
              .panel__drawer__tag(data-tag='gatsby') gatsby
            .panel__drawer__all-tags: a.panel__drawer__all-tags__link(href='#') All Tags...
            .panel__drawer__close-drawer _
          .panel__drawer__body
            .panel__drawer__items
              - for (let i = 0; i < 20; i++)
                .panel__drawer__item
                  .project(data-format='preview')
                    .project__poster
                      img(src="https://via.placeholder.com/600x330", alt="")
                    a(href='#').project__link Project Name
            .panel__drawer__more-items: a.panel__drawer__more-items__link(href='#') More Projects...
        .panel__drawer__handle: .panel__drawer__handle__label Projects
