doctype html
html.admin
  head
    title= title
    block styles
      link(rel='stylesheet', href='/styles/common.css')
      link(rel='stylesheet', href='/styles/admin.main.css')
  body
    .body-wrapper
      include panel
      main.main
        block main
      block scripts
        script(type='module' src='/scripts/admin.main.bundle.min.js')
