.panel
  position fixed
  top 0
  left 0
  bottom 0
  z-index 1
  box-shadow .4em 0 6em black

  & > *
    height 100%
    float left

  @import 'panel/main'

  &__drawers
    & > *
      height 100%
      float left

  @import 'panel/drawer'
