color = {

  primary: {
    light: #405f69
    normal: #2c5364
    dark: #0f2027
  }

  accent: {
    light: #7bacbe
    normal: #649db3
  }

  shade: {
    normal: #243135
    dark: #141d1f
  }

  flare: {
    light: #efefef
    normal: #d2d3d4
    dark: #aebec5
  }

}
