@import 'reset.css';
html,
body,
.body-wrapper {
  height: 100%;
  font: 1em sans-serif;
}
.panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #000;
  z-index: 1;
  box-shadow: 0.4em 0 6em #000;
}
.panel > * {
  height: 100%;
  float: left;
}
.panel__main {
  width: 14.5em;
  flex-shrink: 0;
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  z-index: 999;
  position: relative;
}
.panel__main a {
  text-decoration: none;
}
.panel__main .logo {
  height: 5em;
  text-align: center;
}
.panel__main .logo__link {
  display: block;
  font-size: 1.4em;
  padding: 0.8em 1.1em;
  background: linear-gradient(0deg, #323839 0%, #151c1f 3%, #12181b 48%, #151c1f 97%, #2d3b40 100%);
  letter-spacing: 0.1em;
  color: #efefef;
}
.panel__main .logo__link:focus {
  outline: none;
}
.panel__main .photo {
  display: block;
  width: 7.631578947368421em;
  height: 7.631578947368421em;
  border-radius: 50%;
  border: 0.25em solid #405f69;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.3);
  margin: 1vh auto 0;
  overflow: hidden;
}
.panel__main .photo:focus {
  outline: none;
}
.panel__main .photo img {
  display: block;
  width: 100%;
}
.panel__main .intro {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  color: #aebec5;
  margin-top: 3vh;
  line-height: 1.5;
}
.panel__main .nav {
  margin-top: 3vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.panel__main .nav__title span {
  display: inline-block;
  color: #d2d3d4;
  padding: 1em 1.5em;
  text-transform: uppercase;
  border-top: 1px solid #405f69;
  border-bottom: 1px solid #405f69;
}
.panel__main .nav__links {
  padding: 1.5em 1em;
}
.panel__main .nav__links li + li {
  margin-top: 0.5em;
}
.panel__main .nav__links a {
  color: #b9d4de;
}
.panel__main .nav__links a:hover {
  color: #00baff;
}
.panel__drawers > * {
  height: 100%;
  float: left;
}
.panel__drawer {
  background: #0e181b;
  position: relative;
  display: flex;
}
.panel__drawer__content-holder {
  position: relative;
  width: 100%;
}
.panel__drawer[data-mode='closed'] .panel__drawer__content-holder {
  width: 0;
}
.panel__drawer__content {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-width: 17em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.panel__drawer[data-mode='ajar'] {
  width: 17em;
}
.panel__drawer[data-mode='opened'] {
  width: 40em;
}
.panel__drawer__header {
  padding: 1em;
  background: #da89c5;
}
.panel__drawer__tabs {
  margin-top: 1em;
}
.panel__drawer__tab {
  display: inline-block;
  background: #6a5acd;
  cursor: pointer;
}
.panel__drawer__tab + .panel__drawer__tab {
  margin-left: 0.5em;
}
.panel__drawer__tags {
  margin-top: 1em;
}
.panel__drawer__all-tags {
  margin-top: 1em;
}
.panel__drawer__all-tags__link {
  font-size: 0.7em;
  color: #547079;
}
.panel__drawer__tag {
  display: inline-block;
  background: #cd5c5c;
  cursor: pointer;
}
.panel__drawer__tag + .panel__drawer__tag {
  margin-left: 0.5em;
}
.panel__drawer__close-drawer {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.5em;
  color: #fff;
  padding: 0 0.8em 0.5em;
}
.panel__drawer__body {
  padding: 1.5em 1em 2.5em;
  overflow: auto;
}
.panel__drawer__item + .panel__drawer__item {
  margin-top: 1em;
}
.panel__drawer .project {
  position: relative;
}
.panel__drawer .project img {
  max-width: 100%;
}
.panel__drawer .project__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(16,33,40,0.7);
  font-size: 1.3em;
  text-decoration: none;
  color: #6cfff9;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.panel__drawer .project__link:hover {
  opacity: 1;
}
.panel__drawer__more-items {
  text-align: center;
  margin-top: 2.5em;
}
.panel__drawer__more-items__link {
  color: #00baff;
  font-size: 0.9em;
}
.panel__drawer__handle {
  background: #649db3;
  width: 0;
  opacity: 0;
  cursor: pointer;
  position: relative;
}
.panel__drawer__handle:hover {
  background: #7bacbe;
}
.panel__drawer__handle__label {
  position: absolute;
  left: 50%;
  display: inline-block;
  transform: rotate(90deg) translateX(1em);
  transform-origin: left;
  color: #fff;
}
.panel__drawer[data-mode='closed'] .panel__drawer__handle {
  width: 3em;
  opacity: 1;
}
.main {
  min-height: 100%;
  background: #243135;
  color: #fff;
}
.main__content {
  width: 45rem;
  padding: 4em 0;
  margin-left: 37.5rem;
}
.main__content .title {
  font-size: 2em;
}
