doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet', href='/styles/main.css')
  body
    .body-wrapper
      include panel
      .main(data-router-wrapper)
        .main__content(data-router-view='default')
          block main
      block scripts
        script(src='https://cdn.jsdelivr.net/npm/markdown-it@9.1.0/dist/markdown-it.min.js')
        script(type='module', src='/scripts/main.bundle.min.js')
